// Extends/Classes

//

.player-tooltip {
  background-color: @color-purple;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px 3px;
  text-align: center;
}

.player-tooltip--small {
  font-size: 10px;
  padding: 2px 4px 1px;
}