// Extends/Classes

// 

.player-modal-container-tiny {
  .query-tiny({
    height: 100%;
    padding: 0 20px;
    position: relative;
    width: 100%;
  });
}

// Text

.player-tooltip {
  background-color: @color-purple;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  vertical-align: text-top;
}

.player-tooltip-normal {
  font-size: 14px;
  padding: 6px 8px;
}

.player-tooltip-small {
  font-size: 10px;
  padding: 3px 4px;
}

.player-title-tiny {
  .query-tiny({
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  });
}