// App
// html/body

html,
body,
#__blaze-root {
  &:extend(.full-wh all);
}


//

.main {
  &-app {
    &:extend(.pos-a-full all);

    .query-mini({
      height: @screen-mini-height;
      overflow-x: hidden;
      overflow-y: initial;
    });

    .query-tiny({
      height: @screen-tiny-height;
    });
  }
}

//

#app-container {
  &:extend(.pos-a-full all);

  background-color: white;
  z-index: @zindex-app-container;
}