<template name="createNewWallet">
  <div id="createNewWallet" class="main-modal-content">
    <h3 class="main-modal-title anim-show-up-1">{{_ "Create new wallet" }}</h3>
    <form id="form-create-wallet" class="main-modal-form" action="">
      {{> mainFormInput
          class="anim-show-up-2"
          name="user_password"
          type="password"
          placeholder="Enter your password"
          error=errorMessage
      }}
      <div class="main-modal-footer anim-show-up-3">
        <button id="btn-create-wallet" class="button-text main-modal-button signup" type="submit"
          data-loading-text="Creating...">{{_ "Restore" }}</button>
      </div>
    </form>
  </div>
</template>
