<template name="editPassword">
  <div class="modal main-modal fade">
    <div class="main-modal-wrapper edit-password-modal">
      <h4 class="modal-title">New password</h4>
      <form class="main-form">
        <div class="modal-body">
          <div class="input-group">
            <input id="current-password" name="current-password" type="password" class="main-form-input" aria-describedby="sizing-addon1" required>
            <label for="current-password" class="main-form-label dynamic">
              current password
            </label>
          </div>
          <div class="input-group">
            <input id="new-password" name="new-password" type="password" class="main-form-input" aria-describedby="sizing-addon1" required>
            <label for="new-password" class="main-form-label dynamic">
              new password
            </label>
          </div>
        </div>
        <div class="main-form-footer">
          <span class="form-error-message">{{{errorMessage}}}</span>
          <button type="submit" id="save-password" class="save-button" data-loading-text="Saving...">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</template>
