<template name="editPassword">
  <div class="main-modal-content">
    <div class="edit-password-modal">
      <h3 class="main-modal-title anim-show-up-1">{{_ "New password" }}</h3>

      <form class="main-form">

          {{> mainFormInput
            class="anim-show-up-2"
            name="current-password"
            inputId="current-password"
            type="password"
            placeholder=currentPassword
            error=getEmailError
          }}

          {{> mainFormInput
             class="anim-show-up-3"
             name="new-email"
             inputId="new-password"
             type="password"
             placeholder=newPassword
             error=getPasswordError
          }}
        <div class="main-modal-footer anim-show-up-4">
          <button type="submit" id="save-password" class="button-text" data-loading-text="Saving..." {{disabled}}>{{_ "Save Changes" }}</button>
        </div>
      </form>
    </div>
  </div>
</template>
