<template name="editPassword">
  <div class="main-modal-content show-content">
    <div class="edit-password-modal">
      <h3 class="main-modal-title">New password</h3>
      <form class="main-form">
        <div class="main-modal-body">
          <div class="input-group">
            <input id="current-password" name="current-password" type="password" class="main-form-input" aria-describedby="sizing-addon1" required>
            <label for="current-password" class="main-form-label dynamic">
              current password
            </label>
          </div>
          <div class="input-group">
            <input id="new-password" name="new-password" type="password" class="main-form-input" aria-describedby="sizing-addon1" required>
            <label for="new-password" class="main-form-label dynamic">
              new password
            </label>
          </div>
          <div class="main-modal-error">
            {{{errorMessage}}}
          </div>
        </div>
        <div class="main-modal-footer">
          <button type="submit" id="save-password" class="save-button" data-loading-text="Saving..." {{disabled}}>Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</template>
