<template name="editProfile">
  <div class="main-dropdown edit-profile-menu">
    <div class="main-dropdown-wrapper edit-profile-content">
      <ul class="main-dropdown-list">
        <li class="main-dropdown-item anim-show-up-4">
          <button class="main-dropdown-button edit-profile-info">{{_ "Edit profile" }}</button>
        </li>
        <li class="main-dropdown-item anim-show-up-5">
          <button class="main-dropdown-button edit-password">{{_ "Change password" }}</button>
        </li>
      </ul>
    </div>
  </div>
</template>
