<template name="editProfileInfo">
  <div class="main-modal-content show-content">
    <h3 class="main-modal-title">Edit profile</h3>
    <form id="edit-profile-info-form" class="main-form">
      <div class="edit-profile-inputs-wrapper">
        <div class="avatar-wrapper">
          <img class="current-avatar" src="{{imageUrl}}" />
          <label class="btn btn-default white-button upload-avatar">
            Upload Picture <input type="file" name="new-avatar" hidden>
          </label>
        </div>
        <div class="name-email-wrapper">
          <div class="input-group at-input">
            <label for="new-username" class="main-form-label">
              Name
            </label>
            <input id="new-username" name="new-username" type="text" class="main-form-input" aria-describedby="sizing-addon1" placeholder="{{currentUser.profile.name}}">
          </div>
          <div class="input-group at-input">
            <label for="new-email" class="main-form-label">
              Email
            </label>
            <input id="new-email" name="new-email" type="text" class="main-form-input" aria-describedby="sizing-addon1" placeholder="{{currentEmail}}">
          </div>
        </div>
        <div class="main-modal-error">
          {{{errorMessage}}}
        </div>
      </div>
      <div class="main-modal-footer">
        <button type="submit" id="save-profile-info" class="save-button" data-loading-text="Saving..." {{disabled}}>Save Changes</button>
      </div>
    </form>
  </div>
</template>
