<template name="editProfileInfo">
  <div class="main-modal-content modal-profile">
    <h3 class="main-modal-title anim-show-up-1">Edit profile</h3>
    <form id="edit-profile-info-form" class="main-form" novalidate>

      <div class="modal-profile-content edit-profile-inputs-wrapper">
        <label class="modal-profile-avatar avatar-wrapper  anim-show-up-2">
          <div class="modal-profile-avatar-icon">
            <input class="visually-hidden" type="file" name="new-avatar">
            {{#if imageUrl }}
              <img class="modal-profile-avatar-image current-avatar" src="{{ imageUrl }}">
            {{else}}
              <svg class="modal-profile-avatar-image current-avatar">
                <use class="main-nav-svg-use" xlink:href="#icon-avatar"></use>
              </svg>
            {{/if}}
          </div>
          <p class="button-text">Add file</p>
        </label>

        <div class="modal-profile-inputs">
          {{> mainFormInput
            class="anim-show-up-3"
            name="new-username"
            inputId="new-username"
            type="text"
            placeholder=currentUser.profile.name
            error=getEmailError
          }}

          {{> mainFormInput
             class="anim-show-up-4"
             name="new-email"
             inputId="new-email"
             type="email"
             placeholder=currentEmail
             error=getPasswordError
          }}
        </div>
      </div>


      <div class="main-modal-footer anim-show-up-5">
        <button type="submit" id="save-profile-info" class="button-text" data-loading-text="Saving..." {{disabled}}>Save Changes</button>
      </div>
    </form>
  </div>
</template>
