<template name="editUsername">
  <div class="modal main-modal fade">
    <div class="main-modal-wrapper edit-username-modal">
      <button class="main-modal-button-close" data-dismiss="modal">
        <svg class="main-modal-button-close-svg">
          <use class="main-modal-button-close-svg-use" xlink:href="#icon-close"></use>
        </svg>
      </button>
      <h4 class="modal-title">New username</h4>
      <form class="main-form">
        <div class="modal-body">
          <div class="input-group">
            <label for="current-username" class="main-form-label">
              current username
            </label>
            <div class="main-form-data-display">
              {{{currentUser.profile.name}}}
            </div>
          </div>
          <div class="input-group">
            <input id="new-username" name="new-username" type="text" class="main-form-input" aria-describedby="sizing-addon1" required>
            <label for="new-username" class="main-form-label dynamic">
              new username
            </label>
          </div>
        </div>
        <div class="main-form-footer">
          <span class="form-error-message">{{{errorMessage}}}</span>
          <button type="submit" id="save-username" class="save-button" data-loading-text="Saving...">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</template>
