<template name="embedCustomizer">
  <div class="modal fade">
    <form id="form-embedCustomizer">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ label }}</h4>
          </div>
          <!-- Body -->

          <div class="modal-body">
            <p> Capabilities: </p>
            <div>
              <input type="checkbox" name="fullscreen" class="fullscreen" /> Allow fullscreen?
              <input type="checkbox" name="autoplay" class="autoplay" /> Allow autoplay?
              <input type="checkbox" name="loop" class="loop" /> Allow loop?
              <input type="checkbox" name="playinline" class="playinline" /> Allow playinline (iOS)?
            </div>
            <p> Sizes: </p>
            <div>
              {{#each embedSizes}}
                <input type="radio" name="sizes" class="sizes" value="{{@index}}" checked={{isChecked @index}}> {{ type }}<br>
              {{/each}}

            </div>
            <p> Code for embedding </p>
            <pre id="to_clip" class="embed_code">{{code}}</pre>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" id="copy_to_clipboard" data-clipboard-target="#to_clip" class="btn btn-default blue-button"> Copy to clipboard </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-trans-close">Close</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</template>
