<template name="foundKeystore">
  <div id="foundKeystore" class="main-modal-content show-content">
    <h3 class="main-modal-title main-modal-anim-1">Found a user Keystore</h3>
    <div>
      Hey, there is a User Keystore on this browser, maybe it's yours! What do you want to do?
      You can login, register as a new user or continue the anonymous navigation.
      <div class="main-modal-footer main-modal-anim-2">
        <button id="btn-foundKeystore-cancel" class="button-text main-modal-button signup">Anonymous</button>
        <button id="btn-foundKeystore-login" class="button-text main-modal-button signup">Login</button>
      </div>
    </div>
  </div>
</template>
