<template name="login">
  <div class="modal fade" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content" id="login">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          We find a User keystore on your localStorage: login to get all the funcionalities.
          Otherwise if you close the modal you can continue anonymous navigation
          {{> atForm }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-editprofile-close">Close</button>
          <!-- <input type="submit" id="btn-login" class="btn btn-default blue-button" value="Login"/> -->
        </div>
      </div>
    </div>
  </div>
</template>
