<template name="main_modal">
  <div class="modal main-modal fade">
    <div class="main-modal-wrapper">
      <button class="main-modal-button-close" data-dismiss="modal">
        <svg class="main-modal-button-close-svg">
          <use class="main-modal-button-close-svg-use" xlink:href="#icon-close"></use>
        </svg>
      </button>
      {{> UI.dynamic template=modal data=data}}
    </div>
  </div>
</template>

<!-- #no set yet -->
<template name="modal_earn_pti">

      <!-- #earnpti -->
      <div class="main-modal-content main-modal-content-earn {{currentStep}}">
        <h3 class="main-modal-title">Earn more PTI</h3>
        <div class="main-modal-step-1">
          <p class="main-modal-text">+ 1 PTI - Confirm email.<br>
          - 0.50 PTI - Post a video.<br>
          + 0.50 PTI - Have more than 100 views on an uploaded video<br>
          + 1 PTI - Have more than 1.000 views on an uploaded video</p>
          <div class="main-modal-footer">
            <button class="button-text  main-modal-button next" type="button">Next (1/3)</button>
          </div>
        </div>
        <div class="main-modal-step-2">
          <p class="main-modal-text">+ 3 PTI - Have >70% positive ratings with >100 ratings.<br>
          + 0.50 PTI - Suggested a tag that ended up being suggested by more 10 users (which makes it be displayed along the 2 tags that go along the video), at any point before the 10th user.</p>
          <div class="main-modal-footer">

            <button class="button-text  main-modal-button prev" type="button">Back</button>
            <button class="button-text  main-modal-button next" type="button">Next (2/3)</button>
          </div>
        </div>
        <div class="main-modal-step-3">
          <p class="main-modal-text">+ 0.20 PTI - Flagged a video that ended up being removed by us.<br>
          + 0.20 PTI - Someone visits a video through the custom link you generated.<br>
          + -0.01 PTI - For each 100 Mb of debt / credit in filesharing.</p>
          <div class="main-modal-footer">
            <button class="button-text  main-modal-button prev" type="button">Back (3/3)</button>
          </div>
        </div>
      </div>
      <!-- /earnpti -->
</template>

<template name="modal_send_amount">
  <!-- #send(pti/eth/fil) -->
  <div class="main-modal-content main-modal-content-sendcrypto">
    <h3 class="main-modal-title">Send PTI/ETH/FIL</h3>
    <form class="main-modal-form" action="">
      <div class="main-form-label qrcode">
        <input class="main-form-input main-form-input-qrcode qrcode" type="text" placeholder="send to ( Paratii Address )" />
        <button class="button-text  main-form-button-qrcode qrcode" type="button">
          <svg class="main-form-button-qrcode-svg" viewBox="572 407 20 20">
            <path data-name="Path 214" class="cls-1" d="M576.444 413.667h2.223V407H572v6.667h4.444zm-2.222-4.445h2.222v2.222h-2.222z"/>
            <path data-name="Path 215" class="cls-1" d="M587.556 415.889h-4.445V407h-2.222v8.889H572v2.222h15.556z"/>
            <path data-name="Rectangle 65" class="cls-1" d="M589.778 415.889H592v2.222h-2.222z"/>
            <path data-name="Path 216" class="cls-1" d="M580.889 422.555v4.156h2.222v-6.378h-2.222z"/>
            <path data-name="Path 217" class="cls-1" d="M574.222 420.333H572V427h6.667v-6.667h-4.445zm2.222 4.444h-2.222v-2.222h2.222z"/>
            <path data-name="Path 218" class="cls-1" d="M587.555 420.333h-2.222V427H592v-6.667h-4.445zm2.222 4.444h-2.222v-2.222h2.222z"/>
            <path data-name="Path 219" class="cls-1" d="M589.777 407h-4.444v6.667H592V407zm0 4.444h-2.222v-2.222h2.222z"/>
          </svg>
        </button>
      </div>
      <div class="main-form-label ">
        <input class="main-form-input email" type="email" placeholder="amount to send" />
      </div>
      <p class="main-modal-text small"><strong>You are sending</strong> 0.00 PTI ( 0.00 US$ )</p>
      <p class="main-modal-text small"><strong>Avalible balance</strong> 0.0012 PTI ( 0.25 US$)</p>
      <div class="main-modal-footer">
        <button class="button-text main-modal-button signin" type="submit">Send</button>
      </div>
    </form>
  </div>
  <!-- /send(pti/eth/fil) -->
</template>

<template name="modal_receive_amount">
  <!-- #receive(pti/eth/fil) -->
  <div class="main-modal-content main-modal-content-receivecrypto">
    <h3 class="main-modal-title">Receive PTI/ETH/FIL</h3>
    <div class="main-modal-receivecrypto-qrcode">
      <img class="main-modal-receivecrypto-qrcode-media" src="https://smallbiztrends.com/wp-content/uploads/2015/05/qr-code-sample.jpg"/>
    </div>
    <button class="button-text ">
      PTI address
        <svg class="button-text-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
          <path d="M17.8 8.4H8.7c-.5 0-.9.2-1.3.5-.3.3-.5.8-.5 1.3v13c0 .5.2.9.5 1.3.4.3.8.5 1.3.5h9.1c.5 0 .9-.2 1.3-.5s.5-.8.5-1.3v-13c0-.5-.2-.9-.5-1.3-.4-.3-.8-.5-1.3-.5zm.2 1.8v13c0 .1 0 .1-.1.2 0 0-.1.1-.2.1h-9c-.1 0-.1 0-.2-.1 0 0-.1-.1-.1-.2v-13c0-.1 0-.1.1-.2 0 0 .1-.1.2-.1h9.1c.1 0 .1 0 .2.1v.2z"/>
          <path d="M22.5 5.5c-.3-.3-.7-.5-1.2-.5h-9.1c-.5 0-.9.2-1.3.5-.3.3-.5.8-.5 1.3 0 .2.1.4.2.5.1.1.3.2.5.2s.4-.1.5-.2c.3-.1.4-.3.4-.5 0-.1 0-.1.1-.2 0 0 .1-.1.2-.1h9.1c.1 0 .1 0 .2.1 0 0 .1.1.1.2v13c0 .1 0 .1-.1.2 0 0-.1.1-.2.1-.2 0-.4.1-.5.2-.1.1-.2.3-.2.5s.1.4.2.5c.1.1.3.2.5.2.5 0 .9-.2 1.3-.5.3-.3.5-.8.5-1.3v-13c-.1-.4-.3-.8-.7-1.2z"/>
        </svg>
    </button>
    <input readonly class="input-copy-code" value="0x4882C7Ad656b716c6d476bA0e8c49E7456267C96" />
    <p class="main-modal-text alert small"><strong>Do not send real ETH for this address</strong></p>
  </div>
  <!-- /receive(pti/eth/fil) -->
</template>

<template name="modal_edit_username_email">
  <!-- #edit username/email -->
  <div class="main-modal-content main-modal-content-updateuser">
    <h3 class="main-modal-title">New username/e-mail</h3>
    <p class="main-modal-text">corrent username</p>
    <p class="main-modal-updateuser-info">Susan Medelin</p>
    <form class="main-modal-form" action="">
      <!-- <div class="main-form-label username"><input class="main-form-input username" type="text" placeholder="change username for" /></div> -->
      <div class="main-form-label"><input class="main-form-input email" type="email" placeholder="change email for" /></div>
      <div class="main-modal-footer">
        <button class="button-text main-modal-button signup" type="submit">Save changes</button>
      </div>
    </form>
  </div>
  <!-- /edit username/email -->
</template>

<template name="modal_edit_password">
  <!-- #edit password -->
  <div class="main-modal-content main-modal-content-updatepassword">
    <h3 class="main-modal-title">New password</h3>
    <form class="main-modal-form" action="">
      <div class="main-form-label">
        <input class="main-form-input main-form-input-password" type="password" placeholder="current password" />
      </div>
      <div class="main-form-label">
        <input class="main-form-input main-form-input-password" type="password" placeholder="change password for" />
      </div>
      <div class="main-form-label">
        <input class="main-form-input main-form-input-password" type="password" placeholder="confirm new password" />
      </div>
      <div class="main-modal-footer">
        <button class="button-text main-modal-button signup" type="submit">Save changes</button>
      </div>
    </form>
  </div>
  <!-- /edit password -->
</template>

<template name="modal_edit_avatar">
  <!-- #edit avatar -->
  <div class="main-modal-content main-modal-content-updateavatar">
    <h3 class="main-modal-title">New picture</h3>
    <form class="main-modal-form" action="">
      <div class="main-modal-updateavatar">
        <div class="main-modal-avatar">
          <img class="main-modal-avatar-image" src="https://scontent.fcgh10-1.fna.fbcdn.net/v/t1.0-1/p320x320/19399089_10155553304868010_6057071577605879971_n.jpg?oh=2e3194c11d536f4a6400993334f1eaff&oe=5A4F0961"/>
        </div>
        <button class="button-text button-text--grey main-modal-button addimage" type="button">add file</button>
      </div>
      <div class="main-modal-footer">
        <button class="button-text main-modal-button signup" type="submit">Save changes</button>
      </div>
    </form>
  </div>
  <!-- /edit avatar -->
</template>

<template name="modal_forgot_password">
  <!-- #forgot password -->
  <div class="main-modal-content main-modal-content-forgotpassword step-1">
    <h3 class="main-modal-title">Forgot password</h3>
    <div class="main-modal-step-1">
      <p class="main-modal-text">We sent a provisory password to sus********@gmail.com </p>
      <br>
      <form class="main-modal-form" action="">
        <div class="main-form-label password">
          <input class="main-form-input main-form-input-password password" type="password" placeholder="password" />
          <button class="button-text  main-form-button-password password" type="button">Show</button>
        </div>
        <div class="main-modal-footer">
          <button class="button-text main-modal-button signup" type="submit">Continue</button>
        </div>
      </form>
    </div>
    <div class="main-modal-step-2">
      <p class="main-modal-text">Please enter the 12 words of your wallet generation seed to regenerate your previous wallet. If you don't remember a new wallet will be generate.</p>
      <br>
      <form class="main-modal-form" action="">
        <div class="main-form-label">
          <input class="main-form-input" type="text" placeholder="wallet generation seed" />
        </div>
        <div class="main-modal-footer">
          <button class="button-text main-modal-button signup" type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /forgot password -->
</template>
<!-- /no set yet -->