<template name="modal_new_password">
  <div class="modal fade main-modal main-modal-newpassword {{ modalClass }} {{ modalType }}">
    <div class="main-modal-wrapper">
      <button class="main-modal-button-close" data-dismiss="modal" data-fullscreen="{{fullscreen}}">
        <svg class="main-modal-button-close-svg">
          <use class="main-modal-button-close-svg-use" xlink:href="#icon-close"></use>
        </svg>
      </button>
      <div class="main-modal-content">
        {{#if isSetPassword modalType }}
          {{> modal_new_password_pass}}
        {{/if}}
        {{#if isSetWords modalType }}
          {{> modal_new_password_words}}
        {{/if}}
        {{#if isRecoverComplete modalType }}
          {{> modal_new_password_complete}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="modal_new_password_pass">
  <h3 class="main-modal-title main-modal-anim-1">Recover password</h3>
  <p class="main-modal-text main-modal-anim-2">Please, enter your new password. A lengthy mix of numbers, symbols, and letters of the uppercase and lowercase variety makes for the most secure password</p>
  <br>
  <form class="main-modal-form" action="">
    <div class="main-form-label main-modal-anim-3 password">
      <input class="main-form-input main-form-input-password password" name="password" type="{{ passwordType }}" placeholder="password" />
      <button class="button-text  main-form-button-password password" type="button">Show</button>
    </div>
    <div class="main-modal-footer main-modal-anim-4">
      <span class="main-modal-footer-waiting">Sending...</span>
      <button class="button-text main-modal-button submit" type="submit">Continue</button>
    </div>
  </form>
</template>

<template name="modal_new_password_words">
  <h3 class="main-modal-title main-modal-anim-1">Recover password</h3>
  <p class="main-modal-text main-modal-anim-2">Please, type in your words...</p>
  <br>
  <form class="main-modal-form" action="">
    <div class="main-form-label main-modal-anim-3 words">
      <input class="main-form-input words" type="text" name="words" placeholder="12 words" />
    </div>
    <div class="main-modal-footer main-modal-anim-4">
      <span class="main-modal-footer-waiting">Sending...</span>
      <button class="button-text main-modal-button submit" type="submit">Continue</button>
    </div>
  </form>
</template>

<template name="modal_new_password_complete">
  <h3 class="main-modal-title main-modal-anim-1">Password changed!</h3>
  <p class="main-modal-text main-modal-anim-2">Your password has been changed</p>
</template>