<template name="modal_playlist">
  <div class="{{ modalType }}">
    <div class="main-modal-content">
      {{#if isAdd modalType }}
        {{> modal_add_playlist}}
      {{/if}}
      {{#if isCreate modalType }}
        {{> modal_create_playlist}}
      {{/if}}
    </div>
  </div>
</template>

<template name="modal_add_playlist">
  <!-- #add playlist -->
  <h3 class="main-modal-title">Add video to playlist</h3>
  <form class="main-modal-form" action="">
    <label class="main-form-label main-form-label-checkbox active">Bakery <input class="main-form-checkbox" type="checkbox" name="addplaylist" value="Bakery"></label>
    <label class="main-form-label main-form-label-checkbox">Post Modern Surf <input class="main-form-checkbox" type="checkbox" name="addplaylist" value="Post Modern Surf"></label>
    <label class="main-form-label main-form-label-checkbox">Post Modern Surf <input class="main-form-checkbox" type="checkbox" name="addplaylist" value="Post Modern Surf"></label>

    <button class="button-text nocase main-modal-button addmore" type="button"><svg class="button-text-icon button-text-icon--small" viewBox="577 412 9.415 10"><path d="M5.83,3.819H9.415v2.1H5.83V10H3.6V5.915H0v-2.1H3.6V0H5.819V3.819Z" transform="translate(577 412)"/></svg>New playlist</button>

    <div class="main-modal-footer">
      <button class="button-text main-modal-button confirm" type="submit">Confirm</button>
    </div>
  </form>
  <!-- /add playlist -->
</template>

<template name="modal_create_playlist">
  <!-- #create playlist -->
  <h3 class="main-modal-title anim-show-up-1">Create a new playlist</h3>
  <form class="main-modal-form" action="">
    <div class="main-form-label main-form-label-playlistname playlistname anim-show-up-2">
      <input class="main-form-input playlistname" type="text" placeholder="playlist name" />
    </div>

    <label class="main-form-label main-form-label-checkbox active anim-show-up-3">Public playlist (everyone can see it) <input class="main-form-checkbox" type="radio" name="createplaylist" value="Public playlist ( everyone can see it )"><span class="main-form-checkbox-checked"></span></label>
    <label class="main-form-label main-form-label-checkbox anim-show-up-3">Private playlist (only you can see it ) <input class="main-form-checkbox" type="radio" name="createplaylist" value="Private playlist (only you can see it )"><span class="main-form-checkbox-checked"></span></label>
    <div class="main-modal-footer  anim-show-up-4">
      <button class="button-text main-modal-button create" type="submit">Create playlist</button>
    </div>
  </form>
  <!-- /create playlist -->
</template>
