<template name="regenerateKeystore">
  <div id="walletModal" class="main-modal-content main-modal-keystore">
    <h3 class="main-modal-title main-modal-anim-1">Restore keystore</h3>
    {{# if wallet_is_generating }}
      <p class="main-modal-text main-modal-anim-2">Please be patient, we are generating your wallet file.....</p>
    {{ else }}
      <p class="main-modal-text main-modal-anim-2">We could not find a wallet associeted to your user. If you remember the 12-word seed, you can <button id="restore-keystore" class="button-text main-modal-button nocase">restore wallet</button></p>
      <p class="main-modal-text main-modal-anim-3">Otherwise, you can <button id="create-wallet" class="button-text main-modal-button nocase">use a new wallet</button> (but you will not have access to any funds you might have).</p>
    {{/if}}
  </div>
</template>
