<template name="regenerateKeystore">
  <div id="walletModal" class="modal fade main-modal main-modal-share">
    <div class="main-modal-wrapper">
      <button class="main-modal-button-close" data-dismiss="modal" data-fullscreen="{{fullscreen}}">
        <svg class="main-modal-button-close-svg" viewBox="609.5 451.9 15.5 15.5">
          <path id="X" class="cls-1" d="M15.5,2.068,13.432,0,7.754,5.685,2.068,0,0,2.068,5.685,7.754,0,13.432,2.068,15.5,7.754,9.822,13.432,15.5,15.5,13.432,9.822,7.754Z" transform="translate(609.5 451.9)"/>
        </svg>
      </button>
      <div class="main-modal-content">
        <!-- <h3 class="main-modal-title">{{ label }}</h3> -->
	        <ul class="titleContainer"></ul>
	        <div class="descriptionContainer">
	          {{# if wallet_is_generating }}
	          Please be patient, we are generating your wallet file.....
	          {{ else }}
	          <p>
	          We could not find a wallet associeted to your user. If you remember the 12-word seed, you can restore your wallet
	          </p>
	          <button class="btn btn-default blue-button" id="restore-keystore">Restore wallet</button>
	          <br><br>
	          <p>
	            Otherwise, you can use a new wallet (but you will not have access to any funds you might have)
	          </p>
	            <button class="btn btn-default blue-button" id="create-wallet">Use a new wallet</button>
	          {{/if}}
	        </div>

      </div>
    </div>
  </div>
</template>
