<template name="regenerateKeystore">
  <div id="walletModal">
    {{# if wallet_is_generating }}
      Please be patient, we are generating your wallet file.....
    {{ else }}
      <p>
        We could not find a wallet associeted to your user. If you remember the 12-word seed, you can restore your wallet
      </p>
      <button class="btn btn-default blue-button" id="restore-keystore">Restore wallet</button>
      <br><br>
      <p>
        Otherwise, you can use a new wallet (but you will not have access to any funds you might have)
      </p>
      <button class="btn btn-default blue-button" id="create-wallet">Use a new wallet</button>
    {{/if}}
  </div>
</template>
