<template name="register">
	<div id="registerModal" class="main-modal-content">
    <h3 class="main-modal-title anim-show-up-1">{{_ "Register" }}</h3>
    <form id="form-register" class="main-modal-form" action="">
	    {{> mainFormInput
	        class="anim-show-up-1"
	        name="at-field-name"
	        type="text"
	        placeholder="Name"
	        error=getUserError
	     }}

	     {{> mainFormInput
	         class="anim-show-up-2"
	         name="at-field-email"
	         type="email"
	         placeholder="Enter your email"
	         error=getEmailError
	      }}

	     {{> mainFormInput
	         class="anim-show-up-3"
	         name="at-field-password"
	         type="password"
	         placeholder="Enter your password"
	         error=getPasswordError
	      }}
	    <div class="main-modal-footer anim-show-up-4">
				<button id="at-signUp" class="button-text grey-light main-modal-button" type="button">{{_ "Login" }}</button>
	      <button id="at-btn" class="button-text main-modal-button signup" type="submit">{{_ "Register" }}</button>
	    </div>
	  </form>
	</div>
</template>
