<template name="restoreKeystore">
  <div class="main-modal-content">
    <h3 class="main-modal-title anim-show-up-1">{{_ "modal-restoreKeystore-title" }}</h3>
    <form id="form-restore-keystore" class="main-modal-form" action="">
      {{> mainFormInput
          class="anim-show-up-2"
          name="field-seed"
          type="text"
          placeholder="Enter your 12 words seed"
          error=getSeedError
      }}
      {{> mainFormInput
          class="anim-show-up-3"
          name="field-password"
          type="password"
          placeholder="Enter your password"
          error=getPasswordError
      }}
      <div class="main-modal-footer anim-show-up-4">
        <button id="btn-restorekeystore-restore" class="button-text main-modal-button signup" type="submit">{{_ "Restore" }}</button>
      </div>
    </form>
  </div>
</template>
