<template name="restoreKeystore">
  <h1>{{ getError }}</h1>
  <form id="form-restore-keystore">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content" id="show-seed">
          <div class="modal-header">
            <h4 class="modal-title">Restore keystore</h4>
          </div>
          <div class="modal-body">
            <div class="flex-container-row">
              <div class="flex-grow">
                <div class="{{#if getError}}has-error{{/if}}">
                  {{#if getError}}<label class="control-label">{{ getError }}</label>{{/if}}
                  <div class="input-group">
                    <span class="input-group-addon">Seed:</span>
                    <input type="text" name="field-seed" class="form-control textbox" placeholder="Enter your 12 words seed" value="" >
                  </div>
                </div>
                <br />
                <div class="input-group">
                  <span class="input-group-addon">Password:</span>
                  <input type="password" name="field-password" class="form-control textbox" placeholder="Enter your password" value="" >
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-restorekeystore-close">Close</button>
            <input type="submit" id="btn-restorekeystore-restore" class="btn btn-default blue-button" value="Restore"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
