<template name="restoreKeystore">
  <div class="main-modal-content">
    <h3 class="main-modal-title main-modal-anim-1">Restore keystore</h3>
    <form id="form-restore-keystore" class="main-modal-form" action="">
      {{> mainFormInput
          class="main-modal-anim-2"
          name="field-seed"
          type="text"
          placeholder="Enter your 12 words seed"
          error=getSeedError
      }}
      {{> mainFormInput
          class="main-modal-anim-3"
          name="field-password"
          type="password"
          placeholder="Enter your password"
          error=getPasswordError
      }}
      <div class="main-modal-footer main-modal-anim-4">
        <button id="btn-restorekeystore-restore" class="button-text main-modal-button signup" type="submit">Restore</button>
      </div>
    </form>
  </div>
</template>
