<template name="showSeed">
  <!-- <div class="modal fade" id="showSeedModal">
    <div class="modal-dialog">
      <div class="modal-content" id="show-seed">
        <div class="modal-header">
          <h4 class="modal-title">The seed of your wallet</h4>
        </div> -->
  <div class="main-modal-content show-content">
    <h3 class="main-modal-title main-modal-anim-1">Seed wallet</h3>
    {{#if seed}}
        <p class="main-modal-text">
          Please save the following 12 words.
          You will need this to recover your information and assets.
          This is not a Ethereum address and is not on Ethereum blockchain.
        </p>
        <br>
        <p class="main-modal-text" id="seed"><strong>{{seed}}</strong></p>
    {{else}}
      <form id="form-show-seed" class="main-modal-form" action="">
        <div class="main-form-label main-modal-anim-2 password">
          <input class="main-form-input main-form-input-password {{#if errorMessage}}error{{/if}}" name="user_password" type="{{ passwordType }}" placeholder="Enter your password" aria-describedby="sizing-addon1">
          <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
        </div>
        <div class="main-modal-anim-2">
          <button id="button-forgot" class="button-text button-text--grey-light button-text--nocase main-form-button-forgot" type="button">Forgot password?</button>
        </div>
        {{#unless seed}}
        <div class="main-modal-footer main-modal-anim-3">
          <button id="btn-show-seed" class="button-text main-modal-button signin" type="submit">Get seed</button>
          <!-- <button type="submit" id="btn-show-seed" class="btn btn-default blue-button" data-loading-text="Getting seed...">Get seed</button> -->
        </div>
        {{/unless}}
      </form>
    {{/if}}
  </div>
</template>
