<template name="modal_sign">
  <div class="modal fade main-modal main-modal-sign {{ modalClass }} {{ modalType }}">
    <div class="main-modal-wrapper">
      <button class="main-modal-button-close" data-dismiss="modal" data-fullscreen="{{fullscreen}}">
        <svg class="main-modal-button-close-svg">
          <use class="main-modal-button-close-svg-use" xlink:href="#icon-close"></use>
        </svg>
      </button>
      <div class="main-modal-content">
        {{#if isSignIn modalType }}
          {{> modal_sign_in}}
        {{/if}}
        {{#if isSignUp modalType }}
          {{> modal_sign_up}}
        {{/if}}
        {{#if isForgotStep1 modalType }}
          {{> modal_forgot_password_step_1}}
        {{/if}}
        {{#if isForgotStep2 modalType }}
          {{> modal_forgot_password_step_2}}
        {{/if}}
        {{#if isConfirm modalType }}
          {{> modal_wait_confirm}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="modal_sign_in">
  <h3 class="main-modal-title main-modal-anim-1">Sign in</h3>
  <form class="main-modal-form" action="">
    <div class="main-form-label main-modal-anim-2">
      <input class="main-form-input email" name="email" type="email" placeholder="email" />
    </div>
    <div class="main-form-label main-modal-anim-3 password">
      <input class="main-form-input main-form-input-password password" name="password" type="{{ passwordType }}" placeholder="password" />
      <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
    </div>
    <div class="main-modal-anim-3">
      <button id="button-forgot" class="button-text button-text--grey-light button-text--nocase main-form-button-forgot" type="button">Forgot password?</button>
    </div>
    <div class="main-modal-footer main-modal-anim-4">
      <button class="button-text button-text--grey-light main-modal-button gotosignup" type="button">Sign up</button>
      <button class="button-text main-modal-button signin" type="submit">Sign in</button>
    </div>
  </form>
</template>

<template name="modal_sign_up">
  <h3 class="main-modal-title main-modal-anim-1">Sign up</h3>
  <form class="main-modal-form" action="">
    <div class="main-form-label main-modal-anim-2 username">
      <input class="main-form-input username" type="text" name="username" placeholder="username" />
    </div>
    <div class="main-form-label main-modal-anim-3">
      <input class="main-form-input email" type="email" name="email" placeholder="email" />
    </div>
    <div class="main-form-label main-modal-anim-4 password">
      <input class="main-form-input main-form-input-password password" type="{{ passwordType }}" placeholder="password" name="password" />
      <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
    </div>
    <div class="main-modal-footer main-modal-anim-5">
      <button class="button-text button-text--grey-light main-modal-button gotosignin" type="button">Sign in</button>
      <button class="button-text main-modal-button signup" type="submit">Sign up</button>
    </div>
  </form>
</template>

<template name="modal_forgot_password_step_1">
  <h3 class="main-modal-title">Forgot password</h3>
  <p class="main-modal-text">We sent a provisory password to sus********@gmail.com </p>
  <br>
  <form class="main-modal-form" action="">
    <div class="main-form-label password">
      <input class="main-form-input main-form-input-password password" type="password" placeholder="password" />
      <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
    </div>
    <div class="main-modal-footer">
      <button class="button-text main-modal-button signup" type="submit">Continue</button>
    </div>
  </form>
</template>

<template name="modal_forgot_password_step_2">
  <h3 class="main-modal-title">Forgot password</h3>
  <p class="main-modal-text">Please enter the 12 words of your wallet generation seed to regenerate your previous wallet. If you don't remember a new wallet will be generate.</p>
  <br>
  <form class="main-modal-form" action="">
    <div class="main-form-label">
      <input class="main-form-input" type="text" placeholder="wallet generation seed" />
    </div>
    <div class="main-modal-footer">
      <button class="button-text main-modal-button signup" type="submit">Continue</button>
    </div>
  </form>
</template>

<template name="modal_wait_confirm">
  <div class="main-modal-content">
    <h3 class="main-modal-title main-modal-anim-1">We are almost there</h3>
    <p class="main-modal-text main-modal-anim-2">Susan Medelin your account has been created, please confirm your email to activate your PTI wallet. When you confirm, you will  win 10 PTI in your test network. </p>
    <p class="main-modal-text visually-hidden"><strong class="text-success">Email Confirmed</strong></p>
    <br />
    <button class="button-text button-text--grey-light button-text--nocase main-modal-anim-3">Send email again</button>
  </div>
</template>