<template name="modal_sign">
  {{#if isSignIn modalType }}
    {{> modal_sign_in}}
  {{/if}}
  {{#if isSignUp modalType }}
    {{> modal_sign_up}}
  {{/if}}
  {{#if isForgotStep1 modalType }}
    {{> modal_forgot_password_step_1}}
  {{/if}}
  {{#if isForgotStep2 modalType }}
    {{> modal_forgot_password_step_2}}
  {{/if}}
  {{#if isConfirm modalType }}
    {{> modal_wait_confirm}}
  {{/if}}
</template>

<template name="modal_sign_in">
  <div class="main-modal-content main-modal-sign-in">
    <h3 class="main-modal-title main-modal-anim-1">Sign in</h3>
    <form class="main-modal-form" action="">
      <div class="main-form-label main-modal-anim-2">
        <input class="main-form-input email" name="email" type="email" placeholder="email" />
      </div>
      <div class="main-form-label main-modal-anim-3 password">
        <input class="main-form-input main-form-input-password password" name="password" type="{{ passwordType }}" placeholder="password" />
        <button class="button-text  main-form-button-password password" type="button">Show</button>
      </div>
      <div class="main-modal-anim-3">
        <button id="button-forgot" class="button-text  nocase main-form-button-forgot" type="button">Forgot password?</button>
      </div>
      <div class="main-modal-footer main-modal-anim-4">
        <button class="button-text  main-modal-button gotosignup" type="button">{{_ "Register" }}</button>
        <button class="button-text main-modal-button signin" type="submit">{{_ "Log in" }}</button>
      </div>
    </form>
  </div>
</template>

<template name="modal_sign_up">
  <div class="main-modal-content main-modal-sign-up">
    <h3 class="main-modal-title main-modal-anim-1">{{_ "Register" }}</h3>
    <form class="main-modal-form" action="">
      <div class="main-form-label main-modal-anim-2 username">
        <input class="main-form-input username" type="text" name="username" placeholder="username" />
      </div>
      <div class="main-form-label main-modal-anim-3">
        <input class="main-form-input email" type="email" name="email" placeholder="email" />
      </div>
      <div class="main-form-label main-modal-anim-4 password">
        <input class="main-form-input main-form-input-password password" type="{{ passwordType }}" placeholder="password" name="password" />
        <button class="button-text  main-form-button-password password" type="button">Show</button>
      </div>
      <div class="main-modal-footer main-modal-anim-5">
        <button class="button-text  main-modal-button gotosignin" type="button">{{_ "Log in"}}</button>
        <button class="button-text main-modal-button signup" type="submit">{{_ "Register" }}</button>
      </div>
    </form>
  </div>
</template>

<template name="modal_forgot_password_step_1">
  <div class="main-modal-content main-modal-forgot-1">
    <h3 class="main-modal-title main-modal-anim-1">Forgot password</h3>
    <p class="main-modal-text main-modal-anim-2">Submit your email address to receive a reset link in your inbox. You must submit your 12-word seed to regenerate your previous wallet</p>
    <br>
    <form class="main-modal-form" action="">
      <div class="main-form-label main-modal-anim-3">
        <input class="main-form-input email" type="email" name="email" placeholder="email" />
      </div>
      <div class="main-modal-footer main-modal-anim-4">
        <span class="main-modal-footer-waiting">Waiting for email confirmation...</span>
        <button class="button-text  main-modal-button main-modal-unlock-button-signin gotosignin" type="button">Sign in</button>
        <button class="button-text main-modal-button submit" type="submit">Continue</button>
      </div>
    </form>
  </div>
</template>
<template name="modal_forgot_password_step_2">
  <div class="main-modal-content main-modal-forgot-2">
    <h3 class="main-modal-title main-modal-anim-1">Check your email</h3>
    <p class="main-modal-text main-modal-anim-2">We've sent an email to {{ userEmail }}. Click the link in the email to reset your password.<br> If you still don’t see it, please check your spam folder before getting in touch.</p>
    <br>
    <p class="main-modal-text main-modal-anim-3">Don't you receive the email? <button class="button-text  nocase ">Send email again</button></p>
  </div>
</template>

<template name="modal_wait_confirm">
  <div class="main-modal-content main-modal-confirm-wait">
    <h3 class="main-modal-title main-modal-anim-1">We are almost there</h3>
    <p class="main-modal-text main-modal-anim-2">Susan Medelin your account has been created, please confirm your email to activate your PTI wallet. When you confirm, you will  win 10 PTI in your test network. </p>
    <p class="main-modal-text visually-hidden"><strong class="text-success">Email Confirmed</strong></p>
    <br />
    <button class="button-text  nocase main-modal-anim-3">Send email again</button>
  </div>
</template>
