<template name="modal_sign">
  <div class="modal fade main-modal main-modal-sign {{ modalType }}">
    <div class="main-modal-wrapper">
      <button class="main-modal-button-close" data-dismiss="modal" data-fullscreen="{{fullscreen}}">
        <svg class="main-modal-button-close-svg" viewBox="609.5 451.9 15.5 15.5">
          <path id="X" class="cls-1" d="M15.5,2.068,13.432,0,7.754,5.685,2.068,0,0,2.068,5.685,7.754,0,13.432,2.068,15.5,7.754,9.822,13.432,15.5,15.5,13.432,9.822,7.754Z" transform="translate(609.5 451.9)"/>
        </svg>
      </button>
      <!-- #signin -->
      <div class="main-modal-content">
        {{#if isSignIn modalType }}
          {{> modal_sign_in}}
        {{/if}}
        {{#if isSignUp modalType }}
          {{> modal_sign_up}}
        {{/if}}
      </div>
      <!-- /signin -->
    </div>
  </div>
</template>

<template name="modal_sign_in">
  <h3 class="main-modal-title main-modal-anim-1">Sign in</h3>
  <form class="main-modal-form" action="">
    <div class="main-form-label main-modal-anim-2">
      <input class="main-form-input email" name="email" type="email" placeholder="email" />
    </div>
    <div class="main-form-label main-modal-anim-3 password">
      <input class="main-form-input main-form-input-password password" name="password" type="password" placeholder="password" />
      <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
    </div>
    <a class="button-text button-text--grey-light button-text--nocase main-form-button-forgot main-modal-anim-3" href="#" target="_blank">Forgot password?</a>
    <div class="main-modal-footer main-modal-anim-4">
      <button class="button-text button-text--grey-light main-modal-button gotosignup" type="button">Sign up</button>
      <button class="button-text main-modal-button signin" type="submit">Sign in</button>
    </div>
  </form>
</template>

<template name="modal_sign_up">
  <h3 class="main-modal-title main-modal-anim-1">Sign up</h3>
  <form class="main-modal-form" action="">
    <div class="main-form-label main-modal-anim-2 username">
      <input class="main-form-input username" type="text" name="username" placeholder="username" />
    </div>
    <div class="main-form-label main-modal-anim-3">
      <input class="main-form-input email" type="email" name="email" placeholder="email" />
    </div>
    <div class="main-form-label main-modal-anim-4 password">
      <input class="main-form-input main-form-input-password password" type="password" placeholder="password" name="password" />
      <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
    </div>
    <div class="main-modal-footer main-modal-anim-5">
      <button class="button-text button-text--grey-light main-modal-button gotosignin" type="button">Sign in</button>
      <button class="button-text main-modal-button signup" type="submit">Sign up</button>
    </div>
  </form>
</template>