<template name="internalsPagination">
  <div class="internals-pagination">
    <a class="internals-pagination-button prev pageprev {{ disablePrev }}" href="{{ getPrevPage }}">
      <svg class="internals-pagination-button-svg">
        <use class="internals-pagination-button-svg-use" xlink:href="#icon-return"></use>
      </svg>
    </a>
    <a class="internals-pagination-button next pagenext {{ disableNext }}" href="{{ getNextPage }}">
      <svg class="internals-pagination-button-svg">
        <use class="internals-pagination-button-svg-use" xlink:href="#icon-return"></use>
      </svg>
    </a>
  </div>
</template>
