// Thumbs lists(playlists/videos list)

// Vars

@size-thumbs-list-item-height: 100px;
@size-thumbs-list-item-height-mini: 78px;
@size-thumbs-list-item-margin: 3.5%;
@size-thumbs-list-item-width: 31%;

//

.thumbs-list {
  display: flex;
  flex-wrap: wrap;
  max-width: @screen-mini-width;
}

.thumbs-list-item {
  background: url('img/loader.gif') no-repeat 50%;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: @color-white;
  flex: 0 0 @size-thumbs-list-item-width;
  height: @size-thumbs-list-item-height;
  margin: 0 0 @size-thumbs-list-item-margin;
  overflow: hidden;
  position: relative;

  .query-mini({
    height: @size-thumbs-list-item-height-mini;
  });

  &:nth-child(3n-1) {
    margin: 0 @size-thumbs-list-item-margin @size-thumbs-list-item-margin;
  }
}


// Containers

.thumbs-list-link {
  &:extend(.full-block all);

  backface-visibility: hidden;
  position: relative;
  transition: color .35s;

  &::before {
    &:extend(.pos-a-full all);

    background-color: black;
    content: ''; 
    opacity: .4;
    transition: opacity .35s;
    z-index: 2;
  }

  &:hover {
    color: @color-white;

    &::before {
      opacity: .1;
    }
  }
}

.thumb-list-modal {
  &:extend(.pos-a-full all);

  background-color: #f1f1f1;
  overflow: hidden;
  padding: 9px 10px;
  transform: scaleY(0);
  transition: transform .35s @ease-smooth;
  z-index: 2;

  .active & {
    transform: scaleY(1);
    transition: transform .6s @ease-smooth;
  }

  .button-text {
    display: block;
  }
}


//

.thumbs-list-settings {
  &:extend(.hover-opacity all);

  bottom: 0;
  height: 30px;
  left: 11px;
  position: absolute;
  width: 15px;
  z-index: 5;

  .thumb-list-modal & {
    transform: translate3d(0, 100%, 0);
    transition: transform .5s @ease-smooth;

    .active & {
      transform: translate3d(0, 0, 0);
      transition: transform .5s @ease-smooth .6s;
    }
  }

  &-svg {
    &:extend(.full-block all);

    height: 3px;
    fill: @color-white;
    transition: fill .3s;

    .active & {
      fill: @color-purple;
    }
  }
}


//

.thumbs-list-title {
  display: block;
  font-size: 14px;
  padding: 10px 10px 0;
  position: relative;
  transition: color .5s;
  z-index: 2;
}


.thumbs-list-count {
  align-items: flex-end;
  bottom: 5px;
  display: flex;
  position: absolute;
  right: 5px;
  z-index: 3;

  &-value {
    font-size: 16px;
  }

  &-icon {
    fill: @color-white;
    height: 18px;
    margin: 0 0 0 3px;
    width: 20px;
  }
}

.thumbs-list-play {
  &:extend(.hover-opacity all);

  bottom: 10px;
  height: 13px;
  left: 10px;
  position: absolute;
  width: 18px;
  z-index: 4;

  &.right {
    left: auto;
    right: 10px;
    transform: scale(0);
    transition: transform .5s @ease-smooth;

    .thumbs-list-link:hover & {
      transform: scale(1);
      transition: transform .5s @ease-smooth .1s;
    }
  }

  &-svg {
    &:extend(.full-block all);

    fill: @color-white;
  }
}

.thumbs-list-time {
  bottom: 7px;
  font-size: 12px;
  position: absolute;
  right: 10px;
  transition: opacity .35s linear .3s;
  z-index: 2;

  .thumbs-list-link:hover & {
    opacity: 0;
    transition: opacity .3s;
  }
}

.thumbs-list-price {
  background-color: @color-purple;
  bottom: 9px;
  color: @color-white;
  font-size: 10px;
  opacity: 0;
  padding: 3px 6px 1px;
  position: absolute;
  transition: opacity .25s;
  right: 10px;
  z-index: 2;

  .thumbs-list-link:hover & {
    opacity: 1;
    transition: opacity .3s linear .3s;
  }
}

.thumbs-list-thumb {
  &:extend(.pos-a-m all);

  backface-visibility: hidden;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.thumbs-list-image {
  &:extend(.full-block all);

  height: auto;
  position: relative;
  transform: scale(1.05);
  transition: transform .75s @ease-smooth;
  z-index: 2;

  .thumbs-list-link:hover & {
    transform: scale(1.1);
    transition: transform .8s @ease-smooth;
  }
}

.thumbs-list-loader {
  &:extend(.pos-a-full all);

  z-index: 2;
}