// Player Controls

//Vars

@size-player-controls-button: 15px;

//

.player-controls {
  bottom: 0px;
  left: 0px;
  padding: 20px 20px 10px 90px;
  position: absolute;
  transition: padding .65s @ease-smooth;
  width: 100%;
  z-index: @zindex-player-controls;

  .query-mini({
    padding: 20px 20px 20px 90px;
  });

  .hide-nav & {
    transition: padding .8s @ease-smooth;
    padding: 20px;
  }

  //

  &-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    transition: transform .8s @ease-smooth;
    width: 100%;
  }

  // Buttons

  &-buttons {
    align-items: center;
    display: flex;
  }

  // TIme

  &-time {
    display: flex;
    margin-right: 30px;

    .query-mini({
      margin-right: 0;
    });
  }
}

// Progress

.player-progress {
  background: rgba(255, 255, 255, .3);
  height: 5px;
  margin: 0 10px;
  position: relative;
  width: 100%;

  .query-mini({
    margin: 0 10px;
  });

  &-played {
    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
    height: 5px;
    margin: -5px 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    width: 100%;
  }

  &-loaded {
    background: rgba(255, 255, 255, .3);
    border-radius: 10px;
    height: 5px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    width: 100%;
  }
}


// Buttons

.player-button {
  &:extend(.hover-opacity all);

  height: @size-player-controls-button;
  width: @size-player-controls-button;

  .player-controls-buttons & {
    margin-right: 10px;
  }


  &-svg {
    &:extend(.full-block all);
  }

  &-volume {
    .query-mini({
      display: none;
    });
  }

  &-fullscreen {
    bottom: 16px;
    position: absolute;
    right: 20px;
    z-index: @zindex-player-button-fullscreen;

    .query-mini({
      bottom: auto;
      height: 20px;
      width: 20px;
      top: 40px;
    });

    .playing & {
    }
  }
}

.player-scrubber {
  background: rgba(0,0,0,0);
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(-5px, -5px, 0);
  width: 15px;

  .query-mini({
    transform: translate3d(-3px, -3px, 0);
    height: 10px;
    width: 10px;
  });

  &:before {
    background: @color-white;
    border-radius: 50%;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

// Time

.player-time {
  &-current,
  &-total,
  &-slash {
    color: @color-white;
    font-size: 14px;
  }

  &-current {
    margin-left: 10px;
  }
}

// Volume

.player-volume-control {
  background: rgba(255, 255, 255, .3);
  border-radius: 10px;
  float: left;
  height: 5px;
  margin: 10px;
  position: relative;
  width: 50px;

  .query-mini({
    display: none;
  });

  &-bar {
    background: rgba(255, 255, 255, .3);
    border-radius: 10px;
    height: 5px;
    margin: 0;
    transform-origin: 0 0;
  }
}

//
//
//

.player-controls {
  input {
    position: relative;
    float: left;
    margin: 0 10px;
    transition: 0.5s;
    outline: none;
  }

  /* Firefox */
  /* remove dotted outline form input FF */
  input[type=range]::-moz-focus-outer {
    border: 0;
  }

  /* after the thumb */
  input[type=range]::-moz-range-track {
    background: rgba(255, 255, 255, 0.3);
    height: 5px;
    border: none;
    border-radius: 3px;
  }

  /* before the thumb */
  input[type="range"]::-moz-range-progress {
    background: #FFF;
    height: 5px;
    border-radius: 3px;
  }

  input[type=range]::-moz-range-thumb {
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
  }

  /* Webkit */
  input[type=range]{
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.3);
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: e-resize;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    margin-top: -5px;
    // box-shadow: -9999px 0 0 9999px #FFF;
  }
}