// Nav

// Overlay

.nav-overlay {
  display: none;

  background-color: black;
  height: 100%;
  opacity: .7;
  position: fixed;
  transition: 0.5s;
  width: 100%;
  z-index: @zindex-nav-overlay;

  &.toggleFade {
    opacity: 0;
    visibility: hidden;
  }

  .query-mini({
    height: @screen-mini-height;
  });

  .query-tiny({
    height: @screen-tiny-height;
  });
}

//

.main-nav {
  background-color: @color-white;
  box-shadow: -15px 0px 27px #000;
  height: 100%;
  position: fixed;
  transition: transform .5s @ease-smooth;
  width: @size-main-nav-width;
  z-index: @zindex-main-nav;

  .query-mini({
    height: @screen-mini-height;
    overflow: hidden;
  });

  .query-tiny({
    height: @screen-tiny-height;
  });

  .hide-nav & {
    transform: translate3d(-100%, 0, 0);
  }

  &-list {
    display: block;
    margin: 0;
    width: 100%;

    .query-mini({
      height: 100%;
    });
  }

  &-item {
    display: block;
    position: relative;
    width: 100%;
  }

  &-link {
    display: block;
    padding: 20px 0;
    width: 100%;
  }

  &-icon {
    &:extend(.hidden-with-border all);

    display: block;
    height: @size-main-nav-icon;
    margin: 0 auto;
    position: relative;
    width: 50%;
    
    .nav-profile & {
      background-color: @color-white;
      border-radius: 50px;
      box-shadow: 0 1px 2px rgba(25,25,25,0.2);
    }

    .nav-search & {
      height: 19px;
    }

    .nav-playlists & {
      height: 23px;
    }

    .nav-myvideos & {
      height: 22px;
    }

    .nav-logout & {
      height: 25px;
    }
  }

  &-image {
    &:extend(.pos-a-m all);
    
    fill: @color-grey-light;
    height: 100%;
    transition: fill .3s, opacity .3s;
    width: 100%;

    .nav-profile & {
      height: auto;
    }

    .main-nav-link:hover & {
      opacity: .5;
    }

    .active & {
      fill: @color-purple;
    }
  }
}