// Buttons

.button {

  // Button text

  &-text {
    &:extend(.hover-opacity all);
    &:extend(.color-purple all);

    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;

    // Colors

    &.grey {
      &:extend(.color-grey);
    }

    &.grey-light {
      &:extend(.color-grey-light);
    }

    &.grey-dark {
      &:extend(.color-grey-dark);
    }

    &.white {
      &:extend(.color-white);
    }

    &.nocase {
      &:extend(.text-nocase);
    }

    &.lowercase {
      &:extend(.text-lowercase);
    }

    //

    &[disabled],
    &.disabled {
      color: @color-grey-light;
      cursor: not-allowed;
    }

    // Icon

    &-icon {
      fill: @color-purple;
      height: 25px;
      transform: translateY(-2px);
      vertical-align: middle;

      .button-text--grey & {
        fill: @color-grey;
      }

      .button-text--grey-light & {
        fill: @color-grey-light;
      }

      .button-text--grey-dark & {
        fill: @color-grey-dark;
      }

      &--small {
        height: 12px;
        transform: translateY(-1px);
      }
    }
  }


  // Fullscreen

  &-back,
  &-fullscreen,
  &-settings {
    &:extend(.hover-opacity all);

    &-svg {
      &:extend(.full-block all);

      fill: @color-grey;
    }
  }

  &-back {
    height: 16px;
    width: 26px;
  }

  &-settings {
    height: 20px;
    width: 20px;
  }

  &-fullscreen {
    height: 20px;
    width: 20px;
  }
}
