<template name="App_body">
  <div class="main-app {{getRoute}}">

    <!-- #Modal -->
    <div class="main-modal">
      <div class="main-modal-wrapper">
        <button class="main-modal-button-close" title="{{fullscreen}}">
          <svg class="main-modal-button-close-svg" viewBox="609.5 451.9 15.5 15.5">
            <path id="X" class="cls-1" d="M15.5,2.068,13.432,0,7.754,5.685,2.068,0,0,2.068,5.685,7.754,0,13.432,2.068,15.5,7.754,9.822,13.432,15.5,15.5,13.432,9.822,7.754Z" transform="translate(609.5 451.9)"/>
          </svg>
        </button>

        <!-- #buy -->
        <div class="main-modal-content main-modal-content-buy">
          <h3 class="main-modal-title">Around the Block - Episode 6</h3>
          <div class="main-modal-buy-info">
            <div class="main-modal-avatar">
              <img class="main-modal-avatar-image" src="https://scontent.fcgh10-1.fna.fbcdn.net/v/t1.0-1/p320x320/19399089_10155553304868010_6057071577605879971_n.jpg?oh=2e3194c11d536f4a6400993334f1eaff&oe=5A4F0961"/>
            </div>

            <div class="main-modal-buy-status">
              
              <div class="main-modal-buy-status-content main-modal-buy-status-start">
                <svg class="main-modal-buy-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.3 40.1">
                  <path class="st0" d="M7.2 19.9v.1c0 .8.7 1.5 1.5 1.5h24.2l-8 8c-.6.6-.6 1.5 0 2.1l.1.1c.6.6 1.5.6 2.1 0l10.5-10.5c.3-.3.6-.7.6-1.2v-.1c0-.6-.3-1.1-.8-1.3L27 8.3c-.6-.6-1.5-.6-2.1 0l-.1.1c-.6.6-.6 1.5 0 2.1l8 8H8.7c-.9 0-1.5.6-1.5 1.4z"/>
                </svg>
                <p class="main-modal-buy-text">10 US$</p>
                <p class="player-tooltip player-tooltip--small">20 PTI</p>
              </div>
              
              <div class="main-modal-buy-status-content main-modal-buy-status-success">
                <svg class="main-modal-buy-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                  <path d="M191.8 50.2L84.2 172.1l-59.5-49.8L46 97.5l34.7 28.9 82.2-98.5z"/>
                </svg>
                <p class="main-modal-buy-text">Success</p>
              </div>
              
              <div class="main-modal-buy-status-content main-modal-buy-status-error">
                <svg class="main-modal-buy-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                  <path d="M191.8 50.2L84.2 172.1l-59.5-49.8L46 97.5l34.7 28.9 82.2-98.5z"/>
                </svg>
                <p class="main-modal-buy-text">Error</p>
              </div>
            </div>

            <div class="main-modal-avatar">
              <img class="main-modal-avatar-image" src="https://scontent.fcgh10-1.fna.fbcdn.net/v/t1.0-1/p320x320/19399089_10155553304868010_6057071577605879971_n.jpg?oh=2e3194c11d536f4a6400993334f1eaff&oe=5A4F0961"/>
            </div>
          </div>

          <form class="main-modal-form" action="">
            <div class="main-form-label password">
              <input class="main-form-input main-form-input-password password" type="password" placeholder="password" />
              <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
            </div>
            <a class="button-text button-text--grey-light button-text--lower main-form-button-forgot" href="#" target="_blank">Forgot password?</a>
            <div class="main-modal-footer">
              <span class="main-modal-footer-loading">Loading...</span>
              <button class="button-text main-modal-button main-modal-button confirm" type="submit">Confirm</button>
              <button class="button-text main-modal-button main-modal-button watch" type="button">Watch the video</button>
            </div>
          </form>
        </div>
        <!-- /buy -->

        <!-- #signin -->
        <div class="main-modal-content main-modal-content-signin">
          <h3 class="main-modal-title">Sign in</h3>
          <form class="main-modal-form" action="">
            <div class="main-form-label">
              <input class="main-form-input email" type="email" placeholder="email" />
            </div>
            <div class="main-form-label password">
              <input class="main-form-input main-form-input-password password" type="password" placeholder="password" />
              <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
            </div>
            <a class="button-text button-text--grey-light button-text--lower main-form-button-forgot" href="#" target="_blank">Forgot password?</a>
            <div class="main-modal-footer">
              <button class="button-text button-text--grey-light main-modal-button cancel" type="button">Sign up</button>
              <button class="button-text main-modal-button main-modal-button signin" type="submit">Sign in</button>
            </div>
          </form>
        </div>
        <!-- /signin -->

        <!-- #signup -->
        <div class="main-modal-content main-modal-content-signup">
          <h3 class="main-modal-title">Sign up</h3>
          <form class="main-modal-form" action="">
            <div class="main-form-label username">
              <input class="main-form-input username" type="text" placeholder="username" />
            </div>
            <div class="main-form-label">
              <input class="main-form-input email" type="email" placeholder="email" />
            </div>
            <div class="main-form-label password">
              <input class="main-form-input main-form-input-password password" type="password" placeholder="password" />
              <button class="button-text button-text--grey-light main-form-button-password password" type="button">Show</button>
            </div>
            <div class="main-modal-footer">
              <button class="button-text button-text--grey-light main-modal-button cancel" type="button">Sign in</button>
              <button class="button-text main-modal-button main-modal-button signup" type="submit">Sign up</button>
            </div>
          </form>
        </div>
        <!-- /signup -->

        <!-- #confirm -->
        <div class="main-modal-content main-modal-content-confirm">
          <h3 class="main-modal-title">We are almost there</h3>
          <p class="main-modal-text">Susan Medelin your account has been created, please confirm your email to activate your PTI wallet. When you confirm, you will  win 10 PTI in your test network. </p>
          <p class="main-modal-text visually-hidden"><strong class="text-success">Email Confirmed</strong></p>
          <br />
          <p class="main-modal-text"><a class="main-modal-link" href="">Send email again</a></p>
        </div>
        <!-- /confirm -->

        <!-- #confirmed -->
        <div class="main-modal-content main-modal-content-confirmed step-1">
          <h3 class="main-modal-title">We are almost there</h3>
          <div class="main-modal-confirmed-step-1">
            <p class="main-modal-text">Susan Medelin your account has been created, please confirm your email to activate your PTI wallet. When you confirm, you will  win 10 PTI in your test network.</p>
            <br />
            <p class="main-modal-text"><strong class="text-success">Email Confirmed</strong></p>
          </div>
          <div class="main-modal-confirmed-step-2">
            <p class="main-modal-text">This is your code:</p>
            <button class="button-text button-text--grey-dark">
              PTI address
                <svg class="button-text-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                  <path d="M17.8 8.4H8.7c-.5 0-.9.2-1.3.5-.3.3-.5.8-.5 1.3v13c0 .5.2.9.5 1.3.4.3.8.5 1.3.5h9.1c.5 0 .9-.2 1.3-.5s.5-.8.5-1.3v-13c0-.5-.2-.9-.5-1.3-.4-.3-.8-.5-1.3-.5zm.2 1.8v13c0 .1 0 .1-.1.2 0 0-.1.1-.2.1h-9c-.1 0-.1 0-.2-.1 0 0-.1-.1-.1-.2v-13c0-.1 0-.1.1-.2 0 0 .1-.1.2-.1h9.1c.1 0 .1 0 .2.1v.2z"/>
                  <path d="M22.5 5.5c-.3-.3-.7-.5-1.2-.5h-9.1c-.5 0-.9.2-1.3.5-.3.3-.5.8-.5 1.3 0 .2.1.4.2.5.1.1.3.2.5.2s.4-.1.5-.2c.3-.1.4-.3.4-.5 0-.1 0-.1.1-.2 0 0 .1-.1.2-.1h9.1c.1 0 .1 0 .2.1 0 0 .1.1.1.2v13c0 .1 0 .1-.1.2 0 0-.1.1-.2.1-.2 0-.4.1-.5.2-.1.1-.2.3-.2.5s.1.4.2.5c.1.1.3.2.5.2.5 0 .9-.2 1.3-.5.3-.3.5-.8.5-1.3v-13c-.1-.4-.3-.8-.7-1.2z"/>
                </svg>
            </button>
            <input disabled class="confirm-code" value="0x4882C7Ad656b716c6d476bA0e8c49E7456267C96" />
          </div>
          <div class="main-modal-confirmed-step-3">
            <p class="main-modal-text">Please save these 12 words on paper (order is important). This seed will allow you to recover your wallet in case of computer failure. Your wallet generation seed is:</p>
            <br>
            <p class="main-modal-text"><strong>mirror - soap - ship - soda - spple - skateboard - piano - color - danger - float - pluck - group</strong></p>
          </div>
          <div class="main-modal-footer">
            <button class="button-text main-modal-button main-modal-button signup" type="button">Next</button>
          </div>
        </div>
        <!-- /confirmed -->
      </div>
    </div>
    <!-- /Modal -->

    <div class="nav-overlay {{light}}"></div>
    {{> navigation }}
    <div id="app-container" class="app-container">
      {{> Template.dynamic template=main}}
    </div>
  </div>
</template>
