// Profile page

.profile {
  height: 100%;

  &-user-email {
    font-weight: 300;
  }

  //

  &-wallet {
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 00;
      max-width: @screen-mini-width - 30;
    }

    &-item {
      border-radius: 6px;
      box-shadow: 0 1px 2px rgba(25,25,25,0.2);
      flex: 0 0 31%;
      font-weight: 300;
      height: 110px;
      padding: 15px 10px;
      
      &.active {
        background-color: @color-purple;
        color: @color-white;
      }

      &:nth-child(3n-1) {
        margin: 0 3.5%;
      }

      //

      &-name {
        font-size: 20px;
      }

      &-balance {
        font-size: 16px;
        text-align: right;
      }
    }
  }

  .main-dropdown {
    z-index: @zindex-internals-dropdown;
  }

  .button-settings {
    &-svg {
      .editProfileMenuOpen & {
        fill: @color-purple;
      }
    }
  }
}