// Modal buy

.main-modal-buy {
  &-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &-status {
    display: flex;
    flex-direction: column;
  }
}

//
.value-bold {
  color: @color-purple;
  font-size: 16px;
  font-weight: 500;
}

.player-tooltip {
  background-color: @color-purple;
  color: white;
  text-align: center;
  text-transform: uppercase;

  &--small {
    border-radius: 3px;
    font-size: 10px;
    font-weight: 500;
    padding: 1px 0 0;
  } 
}