// Modal

// Vars

@size-modal-wrapper-height: 280px;
@size-modal-wrapper-width: 310px;
@modal-footer-height: 20px;
@size-modal-wrapper-width-wide: 530px;

// Main

.main-modal {
  &:extend(.pos-a-full all);

  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 1 !important;
  pointer-events: none;
  transition: .8s @ease-smooth;
  z-index: @zindex-modal;

  // Bg

  &::before {
    &:extend(.pos-a-full all);

    background-color: black;
    content: '';
    opacity: 0;
    transition: opacity .25s linear;
    z-index: 1;
  }

  &.fade {
    &.in {
      pointer-events: initial;

      &::before {
        opacity: .8;
        transition: opacity .5s;
      }
    }
  }
}

// Containers

.main-modal-wrapper {
  background-color: white;
  border-radius: 3px;
  height: @size-modal-wrapper-height;
  overflow: hidden;
  padding: 20px;
  position: relative;
  transform: scaleY(0);
  transition: transform .3s @ease-smooth;
  width: @size-modal-wrapper-width;
  z-index: 2;

  .fade.in & {
    transform: scaleY(1);
    transition: transform .75s @ease-smooth .3s;
  }

  &.wide {
    width: @size-modal-wrapper-width-wide;
  }
}

// Content

.main-modal-content {
  &:extend(.full-wh all);

  color: @color-grey;
  pointer-events: none;
  position: relative;

  &.show-content {
    pointer-events: initial;
  }
  .show-content & {
    pointer-events: initial;
  }
}

// Steps

.main-modal-step {
  &-1,
  &-2,
  &-3 {
    &:extend(.simple-hidden all);
  }

  &-1 {
    .step-1 & {
      &:extend(.simple-unhidden all);
    }
  }

  &-2 {
    .step-2 & {
      &:extend(.simple-unhidden all);
    }
  }

  &-3 {
    .step-3 & {
      &:extend(.simple-unhidden all);
    }
  }
}

// Animation

.main-modal-anim-1 {
  &:extend(.anim-element-out all);

  .show-content & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity .3s linear .1s, transform .75s @ease-smooth;
  }
}

.main-modal-anim-2 {
  &:extend(.anim-element-out all);

  .show-content & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity .3s linear .2s, transform .75s @ease-smooth .1s;
  }
}

.main-modal-anim-3 {
  &:extend(.anim-element-out all);

  .show-content & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity .3s linear .3s, transform .75s @ease-smooth .2s;
  }
}

.main-modal-anim-4 {
  &:extend(.anim-element-out all);

  .show-content & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity .3s linear .4s, transform .75s @ease-smooth .3s;
  }
}

.main-modal-anim-5 {
  &:extend(.anim-element-out all);

  .show-content & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity .3s linear .5s, transform .75s @ease-smooth .4s;
  }
}


// Title

.main-modal-title {
  color: @color-grey;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 25px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

//

.main-modal {

  // Titles

  &-subtitle {
    font-size: 16px;
    font-weight: 500;
  }

  // Texts

  &-text {
    color: @color-grey-light;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: @modal-footer-height;

    &--alert {
      color: @color-red;
      text-transform: uppercase;
    }

    &--dark {
      color: @color-grey;
    }

    &--green {
      color: @color-green;
    }

    &--red {
      color: @color-red;
    }

    &--small {
      font-size: 12px;
    }

    &--big {
      font-size: 16px;
    }
  }

  // Buttons/anchors

  &-button {

    &-close {
      &:extend(.hover-opacity all);

      position: absolute;
      right: 20px;
      top: 23px;
      transform: scale(0);
      transition: opacity .3s, transform .35s @ease-smooth;
      z-index: 2;

      .fade.in & {
        transform: scale(1);
        transition: opacity .3s, transform .5s @ease-smooth .8s;
      }

      &:hover {
        opacity: .5;
      }

      &-svg {
        display: block;
        fill: @color-grey-light;
        width: 15px;
        height: 15px;
      }
    }

    .main-modal-footer & {
      margin-left: 20px;
    }
  }

  &-link {
    color: @color-grey;
    font-weight: 500;
    transition: color .3s;

    &:hover {
      color: @color-grey-light;
    }

    &-forgot {
      &:extend(.hover-opacity all);

      &,
      &:hover {
        color: @color-grey-light;
      }
    }
  }

  // Inputs

  .input-copy-code {
    color: @color-grey-light;
    display: block;
    font-size: 12px;
    font-weight: 300;
    width: 100%;

    &::selection {
      background-color: @color-purple;
      color: @color-white;
    }
  }


  // Avatars

  &-avatar {
    border-radius: 50%;
    height: 50px;
    overflow: hidden;
    width: 50px;

    &.big {
      height: 100px;
      width: 100px;
    }

    &-image {
      &:extend(.full-block all);
    }
  }

  &-error {
    color: @color-red;
  }


  // Footer (buttons)

  &-footer {
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: @modal-footer-height;

    &-loading {
      display: none;
      font-weight: 500;
      text-transform: uppercase;

      .loading & {
        animation: blink .5s linear infinite;
        display: block;
      }
    }
  }
}

// Modal Background

.modal-backdrop {
  display: none;
}
