// Modal share

.main-modal-share {
  &-options {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px;
  }

  .main-form-label {
    flex: 1 0 50%;
    margin: 0;
  }

  .main-modal-footer {
    .button-text {
      margin-left: 20px;
    }
  }
}