// Modal log

// Sign in

.main-modal-sign_in {
  .main-form-label {
    &.password {
      margin: 0 0 8px;
    }
  }
}

// Sign up

.main-modal-sign_up {
  .main-form-label {
    &.password {
      margin: 0;
    }
  }
}

// Confirmed

.main-modal-confirmed {
  .button-text {
    margin: 17px 0 10px;
  }
}

// Recover

.main-modal-forgot_step_1 {
  &.waiting {
    .gotosignin,
    .submit {
      opacity: 0;
      pointer-events: none;
    }
  }
}