// Modal log

.main-modal-content-signin,
.main-modal-content-signup {
  .main-form-label {
    margin: 0 0 20px;
  }
}

// Sign in

.main-modal-content-signin {
  .main-form-label {
    &.password {
      margin: 0 0 8px;
    }
  }
}

// Sign up

.main-modal-content-signup {
  .main-form-label {
    &.password {
      margin: 0;
    }
  }
}

// Confirmed

.main-modal-content-confirmed {
  .button-text {
    margin: 17px 0 10px;
  }
}