.wallet-button(@color) {
  text-transform: uppercase;
  color: white;
  background-color: @color;
  font-weight: 700;
  font-size: 12px;
  padding: 12px;
  border: none;

  &:hover {
    background-color: rgb(150, 150, 150);
  }

}

.aqua-button {
  .wallet-button(rgb(80, 227, 194));
}

.red-button {
  .wallet-button(rgb(255, 92, 71));
}

.blue-button {
  .wallet-button(rgb(125, 112, 255));
}


.white-button {
  .wallet-button(rgb(255, 255, 255));
  color: rgb(150, 150, 150);
  border: 1px solid #ccc;
  width: 150px;
  margin-left: 20px;
}

.profile-image-table {
  margin: 10px;

  tr{
    td{
      padding-top:10px
    }

    &:first-child td{
      padding-top:0px
    }
  }
}

.profile-image-container {
  .rounded-border;
  margin-left: 20px;
}

#form-update-account {
  margin: 20px;
}

.update-account-confirm {
  .float-right;
  margin-top: 20px;
}


.rounded-border {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.main-modal-wrapper {
  width: 320px;

  .input-group {
    margin-bottom: 20px;
    width: 100%;

    label {
      color: @color-grey-light;
    }
  }
}

.edit-profile-menu {
  width: 190px;
  position: absolute;
  top: 70px;
  right: 65px;
  max-height: 0;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  transition: all 250ms linear;
  overflow: hidden;
  opacity: 0;
  z-index: 999;
  background: @color-white;

  &.show {
    max-height: 200px;
    padding: 15px;
    opacity: 1;
  }

  .edit-profile-content {
    font-size: 18px;
    text-align: right;
    padding: 10px;
    background-color: @color-white;
    width: 100%;
    padding: 0;

    li {
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
