 
 .line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.app-container { 
  position: absolute;
  height: 100%;
  width: ~"calc(100% - 60px)";
  left: 60px;
  top: 0px;
  background-color: white;
  border-right: .1rem solid lightgray;
  border-top: .1rem solid lightgray;
  border-bottom: .1rem solid lightgray;
}