.nav {
  height: 100%;
  position: fixed;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  box-sizing: border-box;
  z-index: 999;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
  border-right: .1rem solid lightgray;
  border-top: .1rem solid lightgray;
  border-bottom: .1rem solid lightgray;
  border-left: .1rem solid lightgray;
  white-space: nowrap;

  a {
    color: lightgray;
    margin: auto;
  }

  a:hover {
    color: #7d70ff;
  }

  .svg {
    width: 20px;
    height: 20px;
  }

  .nav-text {
    margin: auto 10px;
    position: absolute;
  }

  .active {
    border-right: medium solid #7d70ff;
    a:link, a:visited, a:hover, a:active {
      color: #7d70ff;
      font-weight: bold;
    }
    .svg path {
      fill: #7d70ff;
    }
  }

  &.closed {
    width: 0px;
    visibility: hidden;
  }

  &.minimized {
    width: 60px;
  }

  &.maximized {
    width: 220px;
    border-right: .0rem solid lightgray;
  }
}
