#player-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.player-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  &.pause {
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &.pause div:not(.player-overlay){
    color: transparent;
    visibility: hidden;
  }

  button {
    color: white;
    background-color: transparent;
    border: 0;
  }
}

#video-player {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.primary-tag {
  font-family:'Roboto';
  position:absolute;
  font-size: 10px;
  left: 20px;
  top: 20px;
  margin: 5px;
  padding: 3px;
  color: white;
  font-weight:bold;
  background-color: orangered;
  border-radius: 3px;
}

.player-uploader {
  font-family:'Roboto-Light';
  position:absolute;
  font-size: 14px;
  right: 20px;
  top: 20px;
}

.player-info {
  font-family:'Roboto-Thin';
  font-size: 30px;
  margin-top: 20%;
  margin-left: 20px;
  color: white;
}

.player-description {
  font-family:'Roboto-Light';
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  background-color: transparent;
  border-radius: 3px;
}

.player-statistics {
  margin-top: 10px;
  margin-left: 20px;
}

.player-controls {
  width: 100%;
  z-index: 3;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding-left: 20px;
  bottom: 20px;
  button {
    color: white;
    background-color: transparent;
    border: 0;
  }
  button, input {
    position: relative;
    float: left;
    margin: 0 10px;
  }
  #vol-control {
    width: 10%;
  }
  #progress-bar {
    margin: auto;
    border: none;
    height: 5px;
    width: 95%;
  }

  /* Firefox */
  /* remove dotted outline form input FF */
  input[type=range]::-moz-focus-outer {
    border: 0;
  }

  /* after the thumb */
  input[type=range]::-moz-range-track {
    background: rgba(255, 255, 255, 0.3);
    height: 5px;
    border: none;
    border-radius: 3px;
  }

  /* before the thumb */
  input[type="range"]::-moz-range-progress {
    background: #FFF;
    height: 5px;
    border-radius: 3px;
  }

  input[type=range]::-moz-range-thumb {
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
  }

  /* Webkit */
  input[type=range]{
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.3);
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: e-resize;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    margin-top: -5px;
    // box-shadow: -9999px 0 0 9999px #FFF;
  }

  #fullscreen-button {
    float: right;
  }

  #current-time {
    color: #fff;
  }
  #total-time, .slash {
    color: #aaa;
  }
}
