
.walletContainer {
  width: 100%;
  height: auto;
  padding-top: 10px;

  &.emailContainer {
    margin-top: -18px;
    padding: 0;
  }
}

.profile-info-email {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;

  .query-tiny({
    font-size: 14px;
  })
}

.wallet-contents {
  display: flex;
  flex-direction: column;
  width: 65%;

  .nav.nav-tabs {
    display: flex;

    li {

      .set-balance-properties(
        @dimension,
        @name-font-size,
        @balance-font-size,
        @unit-font-size
      ) {
        flex: 0 0 @dimension;
        max-width: @dimension;
        height: @dimension;

        .unit-name {
          font-size: @name-font-size;
        }

        .balance {
          font-size: @balance-font-size;
        }

        .unit {
          font-size: @unit-font-size;
        }
      }

      .set-balance-properties(150px, 16px, 20px, 12px);

      .query-mini({
        .set-balance-properties(110px, 14px, 16px, 8px);
      });

      .query-tiny({
        .set-balance-properties(75px, 10px, 11px, 5px);

        a {
          padding: 8px;
        }
      });


      &:not(:last-child) {
        margin-right: 15px;
      }

      a {
        &:extend(.btn, .btn-default);
        border-radius: 6px;
        font-weight: 300;
        text-transform: none;
        flex: 0 0 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: @color-white;
        border-color: @color-grey-light;

        &:hover {
          background-clip: @color-white;
          border-color: @color-grey-light;
        }

        .unit-name {
          width: 100%;
          text-align: left;
          flex: 0 0 10px;
        }

        .balance-wrapper {
          flex: 1 1 0;
          display: flex;
          align-items: center;
          width: 100%;

          .balance {
            text-align: right;
            align-items: baseline;
            width: 100%;
            font-weight: 300;
            word-wrap: break-word;

            .amount {
              display: inline-block;
            }

            .unit {
              font-weight: 600;
            }
          }
        }
      }
    }

    li.active a {
      background-color: @color-purple;
      color: @color-white;
    }
  }
}

.centerIcon {
  width: 64px;
  height: 64px;
  margin: auto;
}

.profile-label {
  font-size: 15px;
  font-family:'Roboto';
  font-weight: 400;
  color: dimgrey;
  margin-top: 10px;
}

.wallet-textfield {
  width: 200px;
}

.address-container {
  margin: 8px 10px;
}

.address-identicon {
  display: inline-block;
  margin: 6px;
}

.address{
  font-family:'Roboto';
  font-size: 12px;
  padding: 8px;
  color: lightslategray;
  background-color: white;
  float: right;
  border-radius: 3px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.wallet-tab-content {
  margin-top: 20px;
  margin-left: 10px;
  .earn-button {
    color: @color-purple;
  }
}

.send .amountTrans{
  color: red;
}
