
.walletContainer {
  width: 100%;
  padding: 35px;
  display: flex;

  .profile-info {
    flex: 1 1 0;
  }

  .profile-actions {
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-end;

    button {
      width: 20px;
      height: 20px;

      .full-screen-svg {
        fill: @color-grey;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.centerIcon {
  width: 64px;
  height: 64px;
  margin: auto;
}

.profile-label {
  font-size: 15px;
  font-family:'Roboto';
  font-weight: 400;
  color: dimgrey;
  margin-top: 10px;
}

.profile-info {
  font-size: 20px;
  font-family:'Roboto';
  font-weight: 200;
  color: @color-grey;
  margin-bottom: 10px;

  &.profile-info-name {
    font-weight: 600;
  }
}

.wallet-textfield {
  width: 200px;
}

.address-container {
  margin: 8px 10px;
}

.address-identicon {
  display: inline-block;
  margin: 6px;
}

.address{
  font-family:'Roboto';
  font-size: 12px;
  padding: 8px;
  color: lightslategray;
  background-color: white;
  float: right;
  border-radius: 3px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.wallet-tab-content {
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid transparent;
}

.send .amountTrans{
  color: red;
}
