
.walletContainer {
  width: 100%;
  padding: 10px 35px;

  &:first-child {
    padding-top: 35px;
  }

  .profile-info-email {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
  }
}

.wallet-contents {
  display: flex;
  flex-direction: column;
  width: 65%;

  .nav.nav-tabs {
    display: flex;

    li {

      @button-dimension: 200px;

      flex: 0 0 @button-dimension;
      max-width: @button-dimension;
      height: 185px;

      &:not(:last-child) {
        margin-right: 15px;
      }

      a {
        &:extend(.btn, .btn-default);
        border-radius: 6px;
        font-weight: 300;
        font-size: 16px;
        text-transform: none;
        flex: 0 0 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: @color-white;
        border-color: @color-grey-light;

        &:hover {
          background-clip: @color-white;
        }

        .unit-name {
          width: 100%;
          text-align: left;
          flex: 0 0 10px;
          font-size: 16px;
        }

        .balance-wrapper {
          flex: 1 1 0;
          display: flex;
          align-items: center;
          width: 100%;

          .balance {
            text-align: right;
            align-items: baseline;
            width: 100%;
            font-size: 20px;
            font-weight: 300;
            word-wrap: break-word;

            .amount {
              display: inline-block;
            }

            .unit {
              font-size: 12px;
              font-weight: 600;
            }

            .unit-empty {
              display: inline-block;
              width: 100%;
              text-align: left;
              font-size: 12px;
            }
          }
        }
      }
    }

    li.active a {
      background-color: @color-purple;
      color: @color-white;
    }
  }
}

.centerIcon {
  width: 64px;
  height: 64px;
  margin: auto;
}

.profile-label {
  font-size: 15px;
  font-family:'Roboto';
  font-weight: 400;
  color: dimgrey;
  margin-top: 10px;
}

.wallet-textfield {
  width: 200px;
}

.address-container {
  margin: 8px 10px;
}

.address-identicon {
  display: inline-block;
  margin: 6px;
}

.address{
  font-family:'Roboto';
  font-size: 12px;
  padding: 8px;
  color: lightslategray;
  background-color: white;
  float: right;
  border-radius: 3px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.wallet-tab-content {
  margin-top: 20px;
  margin-left: 10px;
  .earn-button {
    color: @color-purple;
  }
}

.send .amountTrans{
  color: red;
}
