<template name="navigation">
  <div id="nav" class="nav {{navState}}">
    {{#if currentUser }}
      <li class="{{isActivePath '/account'}}">
        <a href="/account" class="textNav">
          {{> dapp_identicon identity='0x922a519ac926f69856fcfc1b2b8b846cfb3f6b4e' class="dapp-tiny"}}
        </a>
          {{#if isMaximized}}
          <a href="/account" class="textNav">
          <span class='nav-text'>Carla Tiber</span>
          </a>
          <a href="/wallet" class="textNav">
          <span class='nav-text'>1.234.567 PTI</span>
          </a>
          {{/if}}
      </li>
    {{ else }}
      <li class="{{isActivePath '/account'}}">
        <a href="/account" class="textNav">
          <img src= "/img/avatar_img.svg" class="svg">
          {{#if isMaximized}}
          <span class='nav-text'>Sign up or login</span>
          {{/if}}
        </a>
      </li>
    {{/if}}
    {{#each navLinks}}
      <li class="{{isActivePath path }}">
        <a href="{{path}}" class="textNav">
          <img src= "{{icon}}" class="svg">
          {{#if isMaximized}}
          <span class='nav-text'>{{text}}</span>
          {{/if}}
        </a>
      </li>
    {{/each}}

    {{#with aboutLink}}
      <li class="{{isActivePath path }}">
        <a href="{{path}}" class="textNav">
          <img src= "{{icon}}" class="svg">
          {{#if isMaximized}}
          <span class='nav-text'>{{text}}</span>
          {{/if}}
        </a>
      </li>
    {{/with}}
    <li>
        indigo release - alpha v.0.1
    </li>
  </div>
</template>
