<template name="navigation">
    <ul>
        <li>
            <a href="{{pathFor route='account'}}">signup or login</a>
        </li>
        <li>upload [locked]</li>
        <li>my videos [locked]</li>
        <li><a href="{{pathFor route='playlists'}}">playlists</a></li>
        <li>trending causes [locked]</li>
        <li>Wanderlust [locked]</li>
        <li>
	        <a href="{{pathFor route='about'}}">about Paratii</a>
        </li>
        <li>
            <a href="{{pathFor route='debug'}}">debug info</a>
        </li>
    </ul>  
</template>
