<template name="navigation">
  <div id="nav" class="nav {{navState}}">
    {{#if currentUser }}
      <li class="{{isActivePath '/account'}} main">
        <a href="/account" class="textNav">
          {{#if isMaximized}}
          {{> dapp_identicon identity='{{ currentUser.profile.ptiAddress }}' class="dapp-tiny"}}
          <span class="nav-text">
            {{ currentUser.profile.name}}
          </span>
          <span class="nav-text nav-text2">{{ ethNode.balance }} PTI</span>
          {{else}}
          {{> dapp_identicon identity='{{ currentUser.profile.ptiAddress }}' class="dapp-tiny"}}
          {{/if}}
        </a>
      </li>


    {{ else }}
      <li class="{{isActivePath '/account'}} main">
        <a href="/account" class="textNav">
          <img src= "/img/avatar_img.svg" class="svg">
          {{#if isMaximized}}
          <span class="nav-text  nav-text3">Sign up or login</span>
          {{/if}}
        </a>
      </li>
    {{/if}}
    {{#each navLinks}}
      <li class="{{isActivePath path }}" id="{{ id }}">
        <a href="{{path}}" class="textNav">
          <img src= "{{icon}}" class="svg">
          {{#if isMaximized}}
          <span class="nav-text">{{text}}</span>
          {{/if}}
        </a>
      </li>
    {{/each}}

    {{#with aboutLink}}
      <li class="{isActivePath path }}">
        <a href="{{path}}" class="textNav">
          <img src= "{{icon}}" class="svg">
          {{#if isMaximized}}
          <span class="nav-text">{{text}}</span>
          {{/if}}
        </a>
      </li>
    {{/with}}
    <li>
        indigo release - alpha v.0.1
    </li>
  </div>
</template>
