// Main loader

.main-loader {
  &:extend(.pos-f-full all);

  align-items: flex-end;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: @zindex-main-loader;

  .show-main-loader & {
    pointer-events: initial;
  }

  // Background

  &::before {
    &:extend(.pos-a-full all);

    background-color: @color-black;
    content: '';
    opacity: 0;
    transition: opacity .3s linear .3s;
    z-index: 1;

    .show-main-loader & {
      opacity: .85;
      transition: opacity .3s;
    }
  }

  // Text and dots

  &-content {
    left: 30px;
    margin: 0 0 40px;
    max-width: 80%;
    position: relative;
    width: 80%;
    z-index: 2;

    .hide-nav & {
      left: 0;
    }
  }

  &-icon {
    &:extend(.anim-element-out all);

    margin: 0 auto;
    width: 60px;

    .show-main-loader & {
      &:extend(.anim-element-in all);
    }

    .query-mini({
      margin-top: 25px;
      width: 50px;
    });
  }

  &-text {
    &:extend(.anim-element-out all);

    bottom: 40px;
    color: @color-white-dark;
    font-size: 20px;
    font-weight: 800;
    left: 0;
    text-align: center;
    padding: 0 20px;
    position: absolute;
    width: 100%;

    .show-main-loader & {    
      &.show {
        &:extend(.anim-element-in all);

        transition-delay: .3s, .2s;
      }
    }

    .query-mini({
      font-size: 18px;
    });
  }

  &-svg {
    &:extend(.full-block);

    fill: @color-white;

    path {
      opacity: .5;
      transform: scale(0);
      transform-origin: center;
      transition: transform .55s @ease-smooth;

      .show-main-loader & {
        transform: scale(1);
        transition: transform .7s @ease-smooth .55s;
      }
    }
  }
}

// Dots animation

.show-main-loader {
  .path-1 {
    animation: blinkLong 2s linear 0s infinite;
  }

  .path-2 {
    animation: blinkLong 2s linear .2s infinite;
  }

  .path-3 {
    animation: blinkLong 2s linear .4s infinite;
  }
}