// Main loader

.main-loader {
  &:extend(.pos-f-full all);

  align-items: flex-end;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: @zindex-main-loader;

  .show-main-loader & {
    pointer-events: initial;
  }

  // Background

  &::before {
    &:extend(.pos-a-full all);

    background-color: @color-black;
    content: '';
    opacity: 0;
    transition: opacity .3s linear .3s;
    z-index: 1;

    .show-main-loader & {
      opacity: .85;
      transition: opacity .3s;
    }
  }

  // Text and dots

  &-content {
    left: 30px;
    margin: 0 0 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .35s linear .25s, transform .7s @ease-smooth .2s; 
    position: relative;
    z-index: 2;

    .show-main-loader & {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .3s linear .25s, transform 1s @ease-smooth .2s; 
    }

    .hide-nav & {
      left: 0;
    }
  }

  &-text {
    color: @color-white-dark;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 0 20px;
  }

  &-icon {
    margin: 20px auto 0;
    width: 60px;
  }

  &-svg {
    &:extend(.full-block);

    fill: @color-white;

    path {
      opacity: .5;
      transform: scale(0);
      transform-origin: center;
      transition: transform .55s @ease-smooth;

      .show-main-loader & {
        transform: scale(1);
        transition: transform .7s @ease-smooth .55s;
      }
    }
  }
}

// Dots animation

.show-main-loader {
  .path-1 {
    animation: blinkLong 2s linear 0s infinite;
  }

  .path-2 {
    animation: blinkLong 2s linear .2s infinite;
  }

  .path-3 {
    animation: blinkLong 2s linear .4s infinite;
  }
}